.Logo {
    font-family: "Antic Slab", serif;
    padding: 1rem;
    margin: 0;
}

.logoContainer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
