.hamburger {
    width: 35px;
    height: 5px;
    background-color: #fbfbfb;
    margin: 6px 1rem;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
